:root {
  --base: #191724;
  --overlay: #26233a;
  --text: #e0def4;
}

* {
  font-family: Montserrat ,sans-serif;
  margin: 0;
  background-color: var(--base);
}

.header {
  color: var(--text);
  background-color: var(--overlay);
  font-size: 50px;
  font-weight: lighter;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
