:root {
  --base: #191724;
  --overlay: #26233a;
  --text: #e0def4;
  --love: #eb6f92;
}

* {
  font-family: Montserrat ,sans-serif;
  margin: 0;
  background-color: var(--overlay);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  color: var(--text);
  background-color: var(--base);
  font-size: 50px;
  font-weight: lighter;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  color: var(--text);
  background-color: var(--base);
  font-size: 20px;
  font-weight: lighter;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
<<<<<<< HEAD
=======

.content {
  margin: 20%;
  color: var(--text);
  display: flex;
  gap: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

>>>>>>> main
